{% extends "consultas/home.html" %}
{% load custom_tags %}

{% block main_content %}
<div class="row rounded-bottom form-base">
    <form id="formFechas" method="post" action="{% url 'detail' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="uf" name="filter" hidden checked id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Consulte el valor de la UF
                    </label>
                </div>
            </div>
            <div class="col-sm">
                <label class="form-check-label" for="defaultCheck1">
                    Fecha Desde
                </label>
                <input type="date" name="desde" value="{{desde}}" class="form-control" placeholder="Fecha Desde">
            </div>
            <div class="col-sm">
                <label class="form-check-label" value="{{hasta}}" for="defaultCheck1">
                    Fecha Desde
                </label>
                <input type="date" name="hasta" class="form-control" placeholder="Fecha Hasta">
            </div>
            <div class="col-sm">
                <div>
                    <button type="submit" class="btn btn-info btn-ver"> Ver</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid">
        <div class="row">
          <div class="col-sm">
                {% if max_val %}
                <li class="list-group-item"> El valor maximo de la <em>UF.</em> entre la fecha seleccionada es <strong>{{max_val.Valor}} CLP</strong> </li>
            {% endif%}
          </div>
          <div class="col-sm">
                {% if min_val %}
                <li class="list-group-item"> El valor minimo de la <em>UF.</em> entre la fecha seleccionada es <strong>{{min_val.Valor}} CLP</strong> </li>
                {% endif%}
          </div>
          <div class="col-sm">
                {% if media %}
                <li class="list-group-item"> El valor promedio de la <em>UF.</em> entre la fecha seleccionada es  <strong> {{media}} CLP</strong></li>
                {% endif%}
          </div>
        </div>
      </div>
<div class="row">
        <div class="col-8">
            <div class="row">
                <div id="chartdiv" data-last-value="{{ufs}}"></div>
            </div>
            <div class="row">
                <div id="dolardiv" data-dolar-value="{{dolares}}"></div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <div data-spy="scroll">
                        <ul class="list-group">
                            {% for u,d in ufs|zip:dolares %}
                                <li class="list-group-item ufs-val" data-last-value="{{u}}">
                                    <p>
                                        <h5>
                                            El valor de la UF:<strong>{{u.Valor}}</strong> CLP al <strong>{{u.Fecha}}</strong>
                                            <small class="text-muted">
                                                El dolar correspondiente a la fecha <strong> {{d.Valor}} </strong>
                                            </small>
                                        </h5>  
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>       
        </div>
</div>

{% endblock %}




