html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
h1 a {
    padding-left: 15px;
    color: #FCA205;
    font-family: 'Lobster';
}
  
#chartdiv {
    width		: 100%;
    height		: 400px;
    font-size	: 11px;
}
#dolardiv {
    width		: 100%;
    height		: 400px;
    font-size	: 11px;
}

.background-w{
    background: #F7F7F7;
    border-top: solid 1px #66B9BF !important;
    border-bottom: solid 1px #66B9BF !important;
}
.btn-ver{
    padding: .8em;
    margin: .8em;
}

.fecha{
    margin: .8em;

}
.form-base{
    background: #99D1D5;
}